@page "/student/dashboard"
@model UI.Pages.Dashboard.Student.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Welcome to the Student Dashboard</h2>

<div>
    <form method="get" asp-page="/Contact">
        <button type="submit">Contact</button>
    </form>

    <form method="post" asp-page-handler="Logout">
        <button type="submit">Logout</button>
    </form>
</div>
