@page "/register/student"
@model UI.Pages.Register.RegisterStudentModel
@{
    ViewData["Title"] = "Register as Student";
}

<h2>Register as Student</h2>

<form method="post">
    <input asp-for="StudentInput.FirstName" placeholder="First Name" />
    <input asp-for="StudentInput.MiddleName" placeholder="Middle Name (optional)" />
    <input asp-for="StudentInput.LastName" placeholder="Last Name" />
    <input asp-for="StudentInput.Email" placeholder="Email" />
    <input asp-for="StudentInput.PhoneNumber" placeholder="Phone Number" />
    <input asp-for="StudentInput.DateOfBirth" type="date" />
    <input asp-for="StudentInput.Password" type="password" placeholder="Password" />
    <input asp-for="StudentInput.ConfirmPassword" type="password" placeholder="Confirm Password" />
    <a class="btn btn-primary" type="submit">Register as Landlord</a>
</form>
<br />

<form method="get" asp-page="/Login">
    <button type="submit">Login</button>
</form>
<partial name="_ValidationScriptsPartial" />
