@page "/register/landlord"
@model UI.Pages.Register.RegisterLandlordModel

<h2>Register as Landlord</h2>

<form method="post">
    <input asp-for="LandlordInput.FirstName" placeholder="First Name" />
    <input asp-for="LandlordInput.MiddleName" placeholder="Middle Name (optional)" />
    <input asp-for="LandlordInput.LastName" placeholder="Last Name" />
    <input asp-for="LandlordInput.Email" type="email" placeholder="Email" />
    <input asp-for="LandlordInput.PhoneNumber" placeholder="Phone Number" />
    <input asp-for="LandlordInput.CompanyName" placeholder="Company Name" />
    <input asp-for="LandlordInput.TaxIdentificationNumber" placeholder="TaxIdentificationNumber" />
    <input asp-for="LandlordInput.Password" type="password" placeholder="Password" />
    <input asp-for="LandlordInput.ConfirmPassword" type="password" placeholder="Confirm Password" />

    <button type="submit" class="btn btn-primary w-100">Register</button>
</form>

<partial name="_ValidationScriptsPartial" />
