@page "/landlord/dashboard"
@using System.Security.Claims
@model UI.Pages.Dashboard.Landlord.IndexModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_LandlordLayout";
}

<h2>Welcome to the Landlord Dashboard</h2>

<div>

</div>


