@page "/landlord/dashboard"
@using System.Security.Claims
@model UI.Pages.Dashboard.Landlord.IndexModel

<h2>Welcome to the Landlord Dashboard @User.Identity.Name</h2>

<div>
    <div class="profile">
        <form method="get" asp-page="/Dashboard/Landlord/Account">
            <button type="submit">Edit Account</button>
        </form>
    </div>

    <div class="listing">

    </div>

    <form method="post" asp-page-handler="Logout">
        <button type="submit">Logout</button>
    </form>
    


</div>


