@page "/landlord/dashboard"
@using System.Security.Claims
@model UI.Pages.Dashboard.Landlord.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Welcome to the Landlord Dashboard</h2>

<div>

    <form method="get" asp-page="/Dashboard/Landlord/Account">
        <button type="submit">Edit Account</button>
    </form>

    <form method="get" asp-page="/Listings/CreateListing">
        <button type="submit">Create a listing</button>
    </form>

    <form method="post" asp-page-handler="Logout">
        <button type="submit">Logout</button>
    </form>
    


</div>


