@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-3">
    @if (Model.IsDatabaseConnected)
    {
        <div class="alert alert-success">✅ Database connection successful</div>
    }
    else
    {
        <div class="alert alert-danger">❌ Database connection failed</div>
    }
</div>



<div class="search-section bg-light py-5">
    <div class="container">
    </div>
</div>